*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6495ED;
}
.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container{
  width: 50%;
  height: 60%;
  background-color: white;
}
.slider{
  height: 100%;
}
.slider .items-wrapper{
  width: 100%;
  height: 100%;
}
.items-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hide{
  display: none;
}
.galleria{
  width: 10%;
  height: 60%;
}
.btn-arrow{
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  opacity: 0.6;
}
.btn-arrow:hover{
  opacity: 1;
  color: red;
}
.btn-arrow.up{
  top: 10px;
}
.btn-arrow.down{
  bottom: 10px;
}
/*GALLERIA*/
.slide{
  position: relative;
  height: 100%;
}
.slide .gallery-image{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.slide .gallery-image img{
  width: 100%;
  height: calc(100% / 5);
  object-fit: cover;
}

.opaco{
  opacity: 0.5;
}
.luce{
  opacity: 1;
  border: 3px solid white;
}